*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
}
img{
    width: 100%;
}
.container{
    width: 1460px;
    margin: 0 auto;
}
.menu-bar{
    float: right;
    padding: 30px;
}
.menu-bar ul li{
    float: left;
    margin-right: 20px;
}
footer .footer-bottom ul li{
    float: left;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    background-size: cover;
    margin-right: 25px;
}
footer .footer-bottom ul .dribbble{
    background-image: url(images/dribbble.png);
}
footer .footer-bottom ul .behance{
    background-image: url(images/behance.png);
}
footer .footer-bottom ul .instagram{
    background-image: url(images/instagram.png);
}
