*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1460px;
    margin: 0 auto;
    background-color: #f9fafd;
}
img{
    width: 100%;
}
p{
    font-size: 18px;
    line-height: 24px;
    color: #3E3E3E;
    margin-bottom: 30px;
    font-weight: 400;
}
h1{
    font-family:'Bebas Neue';
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 20px;
    color: #363958;
}
.highlite-color{
    color: #FF8367;
}
.lightsalmon-button{
    padding: 15px 30px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background-image: linear-gradient(30deg, lightsalmon, tomato);
    border-radius: 5px;
    text-decoration: none;
}
/*nav menu start*/
nav{
    height: 100px;
}
nav .menu-bar{
    float: right;
    padding: 30px;
}
.menu-bar ul li{
    float: left;
    margin-right: 20px;
    list-style: none;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #3C3C3C;
    font-weight: 500;
    font-size: 16px;
}
/*nav menu end*/
/*section part start*/
section{
    height: 530px;
    padding-bottom: 135px;
}
.content-part{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-left: 2%;
}
.content-part a img{
    width: 20px;
    height: 20px;
}
.blog-section{
    padding-left: 7.4%;
}
.blog-section h1{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}
.blog{
    width: 26.5%;
    margin: 1% ;
    border-radius: 10px;
    padding: 1%;
    float: left;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.blog .image-area{
    width: 343.54px;
    height: 213.23px;
    padding-left: 7px;
}
.blog p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.blog h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    margin: 20px 0px;
    color: #363958;
}
/*blog section part ends*/
/*footer top part*/
.workinquiry-area{
    width: 906px;
    height: 225px;
    background-image: url(images/workinqure-bg.png);
    background-size: cover;
    margin: 100px auto;
}
.workinquiry-area h1{
    color: white;
    padding: 8%;
    display: inline-block;
}
.workinquiry-area a{
    display: inline-block;
    margin-left: 20%;
}
.contact-form{
    width: 50%;
    margin: 50px auto;
}
.contact-form h1{
    text-align: center;
    margin-bottom: 50px;
}
.contact-form input,textarea{
    width: 100%;
    padding: 20px 0px;
    margin: 10px 0px;
}
/*footer bottom part*/
footer ul li{
    float: left;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    background-size: cover;
    margin-right: 25px;
    list-style: none;
}
footer .social-area{
    text-align: center;
    width: 60%;
    margin: 0px auto;
    padding: 50px 0px;
}
footer .social-area h4{
    font-size: 24px;
    font-weight: 700;
    color: #696871;
    font-family: 'bebas Neue';
}
footer .social-area h2{
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
}
footer .social-area .social-icons{
    display: inline-block;
    margin: 0 auto;
}
footer ul .dribbble{
    background-image: url(images/dribbble.png);
}
footer ul .behance{
    background-image: url(images/behance.png);
}
footer ul .instagram{
    background-image: url(images/instagram.png);
}
